	<input type="hidden" id="galleryID" value="<%= @gallery.id %>">

	<%= render 'validation_errors', object: @gallery %>
	<%= form_for [:admin, @gallery ], html: { multipart: true } do |f| %>

<div class="row">
<div class="col-md-8">

	<div class="ibox">
   		<div class="ibox-content">
	       	<div class="panel-body">	

			    <div class="form-group">
			      <%= f.label :department_id, 'Avdeling', :class => "" %>
			      <%= f.select :department_id, Department.all.collect {|c| [c.name, c.id]}, {prompt: 'Velg avdeling'}, :class => "form-control" %>
			    </div>
				<div class="form-group">
					<%= f.label :name, 'Album tittel', :class => "" %>
					<%= f.text_field :name, :class => 'form-control', :placeholder => "Album tittel" %>
				</div>	
				<div class="form-group">
					<%= f.label :description, 'Beskrivelse', :class => "" %>
					<%= f.text_area :description, :class => "summernote" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-4">

	<div class="ibox">
   		<div class="ibox-content">


   			<div class="panel-body">
   				<div class="form-actions">
					<%= f.submit 'Opprett album', :class => 'btn btn-md btn-primary btn-block' %>
				</div>
			</div>

     	<div class="panel-body">	
		    <div class="control-group">
          <%= file_field_tag "images[]", type: :file, multiple: true, :class => 'btn btn-xs btn-info' %>
        </div>
		  </div>
				

			</div>
		</div>
	</div>
</div>
</div>
	


	<% end %>

	<script type="text/javascript">
  $(function() {
    $('.summernote').summernote({
      height: 200,
      tabsize: 8,
      toolbar: [
                 ["style", ["style"]],
                 ["style", ["bold", "italic", "underline", "clear"]],
                 ["table", ["table"]],
                  ["color", ["color"]],
                 ["para", ["ul", "ol", "paragraph"]]
             ]
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#article_image").on('change', function() {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder");
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
          if (typeof(FileReader) != "undefined") {
            //loop for each file selected for uploaded.
            for (var i = 0; i < countFiles; i++) 
            {
              var reader = new FileReader();
              reader.onload = function(e) {
                $("<img />", {
                  "src": e.target.result,
                  "class": "thumb-image"
                }).appendTo(image_holder);
              }
              image_holder.show();
              reader.readAsDataURL($(this)[0].files[i]);
            }
          } else {
            alert("This browser does not support FileReader.");
          }
        } else {
          alert("Pls select only images");
        }
      });
    });
  </script>
