<%= form_for [:admin, @info] do |f| %>

<div class="tabs-container">
	<ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> <i class="fa fa-shapes"></i></a></li>
	</ul>
	<div class="tab-content">
	    <div id="tab-1" class="tab-pane active">
	        <div class="panel-body">


            <div class="form-group">
              <%= f.label :content, 'Felles informasjon' %><br>
               <%= f.text_area :content, :class => "summernote" %>
            </div>
								
	        </div>
	    </div>
	</div>

</div>
<p></p>
<div class="form-group"><%= f.submit 'Lagre informasjon', :class => 'btn btn-md btn-primary' %></div>
<% end %>
<script type="text/javascript">
  $(function() {
    $('.summernote').summernote({
      height: 400,
      tabsize: 4,
      toolbar: [
                 ["style", ["style"]],
                 ["style", ["bold", "italic", "underline", "clear"]],
                 ["table", ["table"]],
                 ["para", ["ul", "ol", "paragraph"]],
                 ['extensions', ['gallery']],
                 ['insert', ['videoAttributes']],  
                 ['insert', ['link']],  
                 ['insert', ['hr']]
                 
             ],
        callbacks :{
             onInit: function() {
                $(this).data('image_dialog_images_url', '<%= admin_photos_list_url %>');
                $(this).data('image_dialog_title', "Bilde galleri");
                $(this).data('image_dialog_close_btn_text', "Lukk");
                $(this).data('image_dialog_ok_btn_text', "Ok");
            }
        }             
      });
    });
  </script>