<%= form_for [:admin, @parent] do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this admin_parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Foresattes navn', :class => "" %>
    <%= f.text_field :name, :class => 'form-control', :placeholder => "Foresattes navn" %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Epost', :class => "" %>
    <%= f.text_field :email, :class => 'form-control', :placeholder => "Epost" %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, 'Telefon/mobil', :class => "" %>
    <%= f.text_field :telephone, :class => 'form-control', :placeholder => "Telefon" %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Passord', :class => "" %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>    
  <div class="form-group actions">
    <%= f.submit 'Lagre foresatt', :class => 'btn btn-primary' %>
  </div>

  <div class="form-group">
    <%= link_to 'Tilbake', admin_parents_path, :class => 'btn btn-primary' %>
  </div>
<% end %>
