<input type="hidden" id="articleID" value="<%= @article.id %>">
<%= form_for [:admin, @article], html: { multipart: true } do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this admin_article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label :title, 'Tittel', :class => "" %>
          <%= f.text_field :title, :class => 'form-control', :placeholder => "Tittel" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :titlecolor, 'Tekstfarge: ', :class => '' %>
          <%= f.select :titlecolor, [['Velg Tekstfarge', '#000000'],['Svart', '#000000'], ['Hvit', '#ffffff']], {}, :class => "form-control" %>      
        </div>           
      </div>        
    </div>      
    <div class="form-group">
      <%= f.label :category_id, 'Kategori', :class => "" %>
      <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]}, {prompt: 'Velg kategori'}, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :content, 'Brødtekst' %><br>
      <%= f.text_area :content, :class => "summernote" %>
    </div>

  </div>
 
  <!-- aside right-->
  <div class="col-sm-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= f.submit 'Lagre', :class => "btn btn-primary btn-block" %>
      </div>
      <div class="panel-body">
        <div class="checkbox checkbox-primary">
          <%= f.check_box :publish, :class => "" %>
          <%= f.label :publish, 'Publisere' %>
        </div>
      </div>

      <div class="panel-footer">
        <span class="text-muted small">
          Publisert av: <% if @article.moderator.present? %><%= @article.moderator.fullname %><% end %><br>
          Opprettet: <%= @article.created_at.to_s(:long) if @article.created_at? %><br>
          Sist oppdatert: <%= @article.updated_at.to_s(:long) if @article.updated_at? %>
        </span> 
      </div>
    </div>
    <div class="form-group">
      <%= f.label :imagestyle, 'Velg mal: ', :class => '' %>
      <%= f.select :imagestyle, 
        [['Velg mal', 'fixed-image-top'],
          ['Fast top', 'fixed-image-top'], 
          ['Fast bakgrunn', 'fixed-image-background'], 
          ['Scrolle', 'jarallax'], 
          ['Scrolle med tekst', 'jarallax-text'], 
          ['Banner', 'jarallax-banner'], 
          ['Halvside (høyrestilt bilde)', 'half-page-image-right'],
          ['Halvside (høyrestilt bilde 4-8)', 'half-page-4-8-image-right'],  
          ['Halvside (Venstrestilt bilde)', 'half-page-image-left'], 
          ['Halvside (Venstrestilt bilde 8-4)', 'half-page-8-4-image-left'],
          ['Galleri aktiviteter', 'gallery-activity'],
          ['Galleri kunst og kultur', 'gallery-art'],
          ['Galleri utendørs', 'gallery-outside']
        ], 
          {}, :class => "form-control" %>      
    </div> 
    <div class="panel panel-default">
      <div class="panel-heading">
        Hovedbilde
      </div>
      <div class="panel-body">
      
        <div class="img-responsive" id="image-holder">
          <%= image_tag @article.image_url(:thumb) if @article.image?%>
        </div>
        <div class="checkbox checkbox-primary">
          <%= f.check_box :remove_image, :class => "" %>
          <%= f.label :remove_image, 'Fjern bildet' %>
        </div>
      
      </div>
      <div class="panel-footer">
        <%= f.label :image, :class => "btn btn-info btn-block" do %>
          <%= f.file_field :image, :class => 'hide'%>Velg bilde
        <% end %>  
      </div>  
    </div>
  </div>
  


<% end %>

<script type="text/javascript">
  $(function() {
    $('.summernote').summernote({
      height: 400,
      tabsize: 4,
      toolbar: [
                 ["style", ["style"]],
                 ["style", ["bold", "italic", "underline", "clear"]],
                 ["table", ["table"]],
 
                 ["color", ["color"]],
                 ["para", ["ul", "ol", "paragraph"]],
                 ['extensions', ['gallery']],
                 ['insert', ['videoAttributes']],  
                 ['insert', ['link']],  
                 ['insert', ['hr', 'fullscreen']]
                 
             ],
        callbacks :{
             onInit: function() {
                $(this).data('image_dialog_images_url', '<%= admin_photos_list_url %>');
                $(this).data('image_dialog_title', "Bilde galleri");
                $(this).data('image_dialog_close_btn_text', "Lukk");
                $(this).data('image_dialog_ok_btn_text', "Ok");
            }
        }             
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#article_image").on('change', function() {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder");
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
          if (typeof(FileReader) != "undefined") {
            //loop for each file selected for uploaded.
            for (var i = 0; i < countFiles; i++) 
            {
              var reader = new FileReader();
              reader.onload = function(e) {
                $("<img />", {
                  "src": e.target.result,
                  "class": "thumb-image"
                }).appendTo(image_holder);
              }
              image_holder.show();
              reader.readAsDataURL($(this)[0].files[i]);
            }
          } else {
            alert("This browser does not support FileReader.");
          }
        } else {
          alert("Pls select only images");
        }
      });
    });
  </script>
