<p>

</p>



<div class="row">
  <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInUp">

          <div class="ibox">
              <div class="ibox-title">
                 
                  <div class="ibox-tools">

                      <%= link_to new_admin_child_path, :class => "btn btn-xs btn-warning" do %>
                        <i class="fa fa-child"></i> Registrere nytt barn
                      <% end %>                    

                      <%= link_to new_admin_parent_path, :class => "btn btn-xs btn-primary" do %>
                        <i class="fa fa-user"></i> Registrere ny foresatt 
                      <% end %>

                  </div>
              </div>
              <div class="ibox-content">

                  <div class="">

     
                    <% @schools.each do |cat| %>
                      <div class="row">
             
                        <h4><%= cat.name %></h4>
                        <% cat.departments.each do |dep| %>
                          
                        <div class="col-md-3">
                          <div class="contact-box avdeling-<%= dep.backgroundcolor %>">
                            <%= link_to edit_admin_department_path(dep.id) do %>
                               <h3><%= dep.name %></h3>
                            <% end %>
                          </div>
                        </div>
                        <% end %>
                      </div> 
                    <% end %>

                    
                </div>
            </div>
        </div>
    </div>
</div>


 