<div class="ibox">
  <div class="ibox-title"><h2><i class="fa fa-id-card"></i> Ansatte</h2></div>
  <div class="ibox-content">
    <div class="panel-body">  
      <p id="notice"><%= notice %></p>


      <table class="table table-bordered table-hover" >
        <thead>
          <tr>
            <th>Navn</th>
            <th>Avdeling</th>
            <th colspan="2">Slette</th>
          </tr>
        </thead>

        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= link_to employee.lastname + ', ' + employee.firstname, edit_admin_employee_path(employee) %></td>

              <td><%= employee.department.name %></td>
              

              <td><%= link_to 'Slette', admin_employee_url(employee), :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Er du sikker på at du vil slette?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Ny ansatt', new_admin_employee_path, :class => 'btn btn-primary' %>
  
    </div>
  </div>
</div>