<%= form_for [:admin, @child] do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this admin_department from being saved:</h2>
      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-8">
 <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :lastname, 'Etternavn', :class => "" %>
        <%= f.text_field :lastname, :class => 'form-control', :placeholder => "Barnets etternavn" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :firstname, 'Fornavn', :class => "" %>
        <%= f.text_field :firstname, :class => 'form-control', :placeholder => "Barnets fornavn" %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :birthdate, 'Fødselsdato', :class => "" %>
    <%= f.text_field :birthdate, :class => 'form-control', :placeholder => "dd.mm.åååå" %>
  </div>  
   <div class="form-group">
      <%= f.label :department_id, 'Avdeling', :class => "" %>
      <%= f.select :department_id, Department.all.collect {|c| [c.name, c.id]}, {prompt: 'Velg avdeling'}, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :parent_ids, 'Foresatte', :class => "" %>
      <%= f.select :parent_ids, Parent.all.collect {|t| [t.name, t.id]}, {prompt: ''}, multiple: :true, :class => "form-control chosen-select info" %>
    </div>
  </div>
  <div class="col-md-4">
  <div class="actions">

    <%= f.submit 'Oppdatere', :class => 'btn btn-primary btn-block' %>
   
  </div>
</div>
</div>
<% end %>

<script type="text/javascript">
  var config = {
    '.chosen-select' : {},
    '.chosen-select-deselect' : {allow_single_deselect: true},
    '.chosen-select-no-single': {disable_search_threshold: 10},
    '.chosen-select-no-result': {no_results_text: 'Oi, ingenting funnet!'},
    '.chosen-select-width' : {width: "95%"}
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }
</script>