	 
<script type="text/javascript">
var initialize_calendar;
initialize_calendar = function() {
  $('.calendar').each(function(){
    var calendar = $(this);
    calendar.fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      allDaySlot: false,
      defaultView: 'agendaWeek',
      fixedWeekCount: false,
      minTime: "06:00:00",
      maxTime: "20:00:00",
      weekends: false,
      weekNumbers: true,
      eventLimit: true,
      eventSources: [
        '/events.json?department_id=<%= @department.id %>',
      ],
    });
  })
};
$(document).on('turbolinks:load', initialize_calendar);
</script>
<% if check_has_children(params[:id], session[:current_parent_id]).present? %>

	
<div class="avdeling-blue">
	<div class="jarallax jarallax-avd">        
	    <div class="demo-table">
	        <div class="demo-table-cell">
	            <h1 style="color:<%= @department.titlecolor %>"><%= @department.name %></h1>
	            <h2 class="telefonnummer" style="color:<%= @department.titlecolor %>">
	            	 <%= @department.telephone %>
	            </h2>
	            <h3 class="epost" style="color:<%= @department.titlecolor %>">
	            	<i class="fa fa-email"></i> <%= @department.email %>
	            </h3>
	        </div>
	    </div>
	    <div>
	    	<%= image_tag(@department.image, :class => "jarallax-img") %>
	    </div>
	</div>  

	<div class="gap" style="height: 100px" class=""></div>
	
	<div class="container">
		<div class="col-md-4">
			<div class="bs-list">
			    <div class="list-group">
			        <a href="/parents" class="list-group-item">
			           Min side <span class="badge"><i class="fa fa-angle-right"></i></span>
			        </a>
			        <% @parent.children.by_name_and_age.each do |d| %>
			        	<a href="/avdeling/<%=d.department.id%>" class="list-group-item <%= is_active_menu(d.department.id.to_s) %>">
			            	<%= d.firstname %> <span class="badge"><i class="fa fa-angle-right"></i></span>
			        	</a>
			        <% end %>
					<%= link_to edit_parent_path(@parent.id), :class => 'list-group-item' do %>
						Endre innstillinger<span class="badge"><i class="fa fa-angle-right"></i></span>	
					<% end %>			        			        
			        <a href="/loggut" class="list-group-item">
			            Logg ut <span class="badge"><i class="fa fa-angle-right"></i></span>
			        </a>
			    </div>
			</div>		
		</div>

		<div class="col-md-8">
			<% if @department.messages.present? %>
			<section class="messages">	
				<div class="row">
					<div class="col-md-12">
						<ul class="" style="margin:20px 0 10px 0;list-style-type: none;padding:0;">
							<% @department.messages.each do |m| %>
							<li>
								<div class="viktig <%= m.color %>">
									<h2><%= m.title  %></h2>
									<p><%= m.content.html_safe %></p>
								</div>
							</li>
							<% end %>
						</ul>						
					</div>
				</div>
			</section>
			<div class="gap" style="height: 60px" class=""></div>
			<% end %>

			<% if @department.description.present? || @info.content.present? %>
			<section class="text">
				<div class="row">
					<div class="col-md-12">
						<h2>Diverse informasjon</h2>
						<%= @info.content.html_safe %>
						<%= @department.description.html_safe %>		
					</div>
				</div>
				<div class="gap" style="height: 60px" class=""></div>
			</section>
			<% end %>

			<% if @department.documents.present? %>
			<section id="documents">
				<div class="row">
					<div class="col-md-12">
						<ul style="list-style: none;margin:0;padding:0;">
						<% @department.documents.each do |doc| %>
							<li> 
								<%= link_to doc.document.url, :title => doc.description , :target => 'blank' do %>
									<h4><i class="fa fa-file"></i> <%= doc.title %></h4>
								<% end %>
							</li>
						<% end %>
						</ul>
					</div>
				</div>
				<div class="gap" style="height: 60px" class=""></div>
			</section>	
			<% end %>

						
			<section class="kalender">
			<div class="row">
				<div class="col-md-12">
					<h2>Ukeplan / kalender</h2>
					<div class='calendar'></div>
				</div>
			</div>

			<div class="gap" style="height: 60px" class=""></div>
			</section>

			<% if @department.galleries.present? %>
			<section class="gallery">
				<div class="mb-2">			
					<h2>Bilder fra hverdagen</h2>
				</div>
		
				<div class="row bilder">
				<% @department.galleries.order(id: :desc).each do |gallery| %>
					<% unless gallery.images.empty? %>

					 <div class="col-md-4 col-sm-6 col-xs-6"> 
						<% if gallery.images.first %>             
		                	<%= link_to gallery_path(gallery.id), :class=> 'thumbnail' do %>
		                		<div class="image-square">
		            				<%= image_tag gallery.images.first.image.url :thumb, :class => "img img-responsive full-width"  %> 
		            			</div> 
		            			<div class="bottom-left"><%= gallery.name %></div>
		          			<% end %>  
			              	
						<% else %>
							N/A
						<% end %>
					</div>

			
					<% end %>
				<% end %>
				</div>
				<div class="gap" style="height: 60px" class=""></div>
			</section>
			<% end %>

			<section class="employees">
				<div class="" style="padding-bottom:25px;">
					<h2>Ansatte på avdelingen</h2>
				</div>
				<div class="row">
				 	<% @department.employees.each do |emp| %>
				  	<div class="col-md-2 col-sm-3 col-xs-6">
						<div class="card" style="width:100%;">
							<%= image_tag(emp.image, :class => "card-img-top rounded img-thumbnail") if emp.image? %>	
					  		<div class="card-body">
					    		<div class="card-title"><%= emp.firstname %></div>		    
					  		</div>
						</div>	
				  	</div>
				 	<% end %>				
				</div>
			</section>


			<section>
				<h2>Oversikt over barn og foresatte</h2>
				<p>Informasjonen nedenfor er samtykket av foresatte.</p>
				<div class="row col-md-12">
					<div class="accordion">						
					<% @department.children.each do |child| %>
						<div class="accordion-group">
							<div class="accordion-heading">
								<p><%= child.firstname + ' ' + child.lastname + ', ' + child.birthdate %></p>
							</div>
							<div id="child-<%= child.id %>" class="accordion-body in collapse" style="height: auto;">
								<div class="accordion-inner">
									<table class="table table-responsive-md" style="border:0;font-size:14px;">
									<tbody>
									<% child.parents.each do |parent| %>
										<tr>
										<% if parent.isverified? %>
										<td scope="row" style="width:50%"><%= parent.name %></td>
										<td scope="row" style="width:25%"><%= parent.email %></td>
										<td scope="row" style="width:25%"><%= parent.telephone %></td>
										</tr>
										<% end %>
									<% end %>
									</tbody>
									</table>
								</div>
							</div>
						</div>
						
					<% end %>
					</div>
				</div>
			</section>

		</div>
	</div>


	<section class="section-nopadding">
	  <div id="gap" style="height: 100px" class=""></div>
	</section>
</div>
<%else%>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12" style="color:red;text-align: center;">
				<h3>Oisann!</h3>
				<p>Du har ingen barn på denne avdelingen.</p>
			</div>
		</div>
	</div>
<% end %>

