<%= form_for [:admin, @school] do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this admin_school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="col-sm-8">

  <div class="ibox">
    <div class="ibox-content">
      <div class="panel-body">  

        <div class="form-group">
          <%= f.label :name, 'Barnehagens-/skolens navn', :class => "" %>
          <%= f.text_field :name, :class => 'form-control', :placeholder => "Name" %>
        </div>
        <div class="form-group">
          <%= f.label :description, 'Beskrivelse' %><br>
           <%= f.text_area :description, :class => "summernote" %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :lat, 'Breddegrad', :class => "" %>
              <%= f.text_field :lat, :class => 'form-control', :placeholder => "Breddegrad" %>
            </div>      
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :lng, 'Lengdegrad', :class => "" %>
              <%= f.text_field :lng, :class => 'form-control', :placeholder => "Lengdegrad" %>
            </div>      
          </div>    
        </div>

      </div>
    </div>
  </div>
</div>
<div class="col-sm-4">

  <div class="ibox">
    <div class="ibox-content">
      <div class="panel-body">     
        <div class="actions">
          <%= f.submit 'Lagre', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox">
    <div class="ibox-content">
      <div class="panel-body">     
        <div class="panel-heading">Google Maps</div>
        <div id="map" style="display:block:width:100%;height:350px;margin:0;">
 
        </div>
      </div>
    </div>
  </div>
</div>     
<% end %>

<script type="text/javascript">
  $(function() {
    $('.summernote').summernote({
      height: 200,
      tabsize: 4,
      toolbar: [
              ["style", ["bold", "italic", "underline", "clear"]]
             ],
        callbacks :{
             onInit: function() {
                $(this).data('image_dialog_images_url', '<%= admin_photos_list_url %>');
                $(this).data('image_dialog_title', "Bilde galleri");
                $(this).data('image_dialog_close_btn_text', "Lukk");
                $(this).data('image_dialog_ok_btn_text', "Ok");
            }
          }
      });
    });
  </script> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYDhPwyxJIy501V-07GR50YN6QyZe5SUY
&callback=initMap"
    async defer>
  </script>
  <script type="text/javascript">

      function initMap() {
        var krohnstad = {lat: 62.781133, lng: 7.305240};

        // Create a map object and specify the DOM element
        // for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: krohnstad,
          zoom: 10
        });

        var infowindow = new google.maps.InfoWindow({
          content: '<%= @school.description.html_safe %>'
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: {lat:<%= @school.lat %>, lng:<%= @school.lng %>},
          title: '<%= @school.name %>'

        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });        
      }

  </script>
 