<%= form_for @parent,:html=> {:id => 'form-parent'} do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this admin_parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :password, 'Nytt passord', :class => "" %>
    <%= f.password_field :password, {:class => 'form-control', :placeholder => 'Passord', 'data-bv-identical' => 'true', 'data-bv-identical-field' => 'confirmPassword', 'data-bv-identical-message' => 'Passord er ikke det samme i begge felt' } %>
  </div>
  <div class="form-group">
    <label class="control-label">Gjenta passord</label>
    <input type="password" placeholder="Gjenta passord" class="form-control" name="confirmPassword"
        data-bv-identical="true"
        data-bv-identical-field="parent[password]"
        data-bv-identical-message="Passord er ikke det samme i begge felt" />
  </div>
  <div class="form-group actions pull-left">
    <%= link_to 'Oppdatere passord', "#", :onclick => "$('#form-parent').submit()", :class => 'contact-form-submit btn btn-blue' %>
  </div>
<% end %>


