<%= form_for @parent,:html=> {:id => 'form-parent'} do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, 'Navn:', :class => "" %>
    <%= f.text_field :name, :class => 'form-control', :placeholder => "Foresattes navn" %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Epost-adresse:', :class => "" %>
    <%= f.text_field :email, :class => 'form-control', :placeholder => "Epost" %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, 'Telefon/mobilnr.:', :class => "" %>
    <%= f.text_field :telephone, :class => 'form-control', :placeholder => "Telefon" %>
  </div>
  <div class="well">
    <h4>Personvern</h4>
    <div class="checkbox">
      <%= f.label :isverified do %>
        <%= f.check_box :isverified %>
        <small>Jeg aksepterer at mine opplysninger er tilgjengelige for de andre foresatte på mine barns avdelinger.</small>
      <% end %>
    </div>
  </div> 
    <div class="form-group actions">
    <%= link_to edit_foreldre_path(@parent.id, :form => 'pwd') do %>
      <i class="fa fa-lock"></i> Endre passord
    <% end %>
  </div>
     <div class="form-group actions pull-left">
    <%= link_to 'Tilbake', foreldre_index_path, :class => 'btn btn-blue' %>
  </div>
   <div class="form-group actions pull-right">
    <%= link_to 'Lagre', "#", :onclick => "$('#form-parent').submit()", :class => 'contact-form-submit btn btn-blue' %>
  </div>

<% end %>
