<%= form_for @parent,:html=> {:id => 'form-parent'} do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this admin_parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Navn:', :class => "" %>
    <%= f.text_field :name, :class => 'form-control', :placeholder => "Foresattes navn" %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Epost-adresse:', :class => "" %>
    <%= f.text_field :email, :class => 'form-control', :placeholder => "Epost" %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, 'Telefon/mobilnr.:', :class => "" %>
    <%= f.text_field :telephone, :class => 'form-control', :placeholder => "Telefon" %>
  </div>
   <div class="form-group actions pull-right">
    <%= link_to 'Lagre', "#", :onclick => "$('#form-parent').submit()", :class => 'contact-form-submit btn btn-blue' %>
  </div>
  <%= link_to edit_parent_path(session[:current_parent_id], :form => 'pwd') do %>
    <i class="fa fa-lock"></i> Endre passord
  <% end %>
<% end %>
