
<div class="avdeling-blue">

	<div class="container">

		<div class="row" style="padding-top: 80px;">
			<h1 style="text-align: center;">velkommen, <%= @parent.name %>!</h1>
		</div>
		
		<div class="gap" style="height: 100px" class=""></div>
		

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<% if @parent.children.present? %>
				<% @parent.children.by_name_and_age.each do |d| %>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="contact-box">
	                    <a href="/avdeling/<%=d.department.id%>">
	                        <p><%= d.firstname %></p>
	                        <p class="avd2"><%= d.department.name %></p>
	                   
	                    </a>
	           	 	</div>
	           	 </div>
				<% end %>
				<% end %>
			</div>
		</div>
		
		<div class="gap" style="height: 60px" class=""></div>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<p>Dette er din side. Her kan du følge med på hva som skjer på avdelingen til barnet ditt. Du kan også endre kontaktinformasjon som e-postadresse, telefonnummer, passord og lignende.</p>
				<div class="well">
				<h4>Personvern</h4>
				<% if @parent.isverified %>
				<p><i class="fa fa-check green"></i> <small>Jeg har akseptert og forstått at mine opplysninger er tilgjengelige for de andre foresatte på mine barns avdelinger.</small></p>
				<%= link_to 'Kontaktinfo', edit_parent_path(session[:current_parent_id]), :class => 'contact-form-submit btn btn-xs btn-blue' %>
				<% else %>
				<p><i class="fa fa-times red"></i> <small>Mine opplysninger er ikke tilgjengelige for de andre foresatte på mine barns avdelinger.</small></p>
				<%= link_to 'Kontaktinfo', edit_parent_path(session[:current_parent_id]), :class => 'contact-form-submit btn btn-xs btn-blue' %>
								
				<% end %>
				</div>
				<p style="width:100%;text-align:center;"><%= link_to 'Logg ut', loggut_path, :class => 'contact-form-submit btn btn-blue' %></p>
			</div>
		</div>

		<div class="gap" style="height: 100px" class=""></div>

	</div>

</div>