    <div class="jarallax">

       
        <%= image_tag('image-1-web.jpg', :class => "jarallax-img") %>

    </div>

    <section class="section text-center margin-top margin-bottom">
      <div class="container">
       
          <h2 class="text-align-center">EN OASE FOR GLEDE OG VEKST</h2>
       
      </div>
    </section>

    <div class="">

        <div class="container">

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="team-single-member"> 
                  <%= image_tag('barnehagen-1-web.jpg', :class => "", :alt => "barnehagen") %>

                  <div class="team-single-member-details margin-top">
                    <h2><%= @article1.title %></h2>
                    <p class="margin-top"><%= @article1.summary %></p>
                    <a href="/barnehage" class="btn btn-md btn-outline-black margin-top">LES MER</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="team-single-member">
                  <%= image_tag('barnehagen-2-web.jpg', :class => "", :alt => "barnehagen") %>
                  <div class="team-single-member-details margin-top">
                      <h2><%= @article2.title %></h2>
                    <p class="margin-top"><%= @article2.summary %></p>
                    <a href="/ommontessori" class="btn btn-md btn-outline-black margin-top">LES MER</a>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>


    <div style="height: 180px" class=""></div>

    <div class="jarallax">  
      <div class="demo-table">
          <div class="demo-table-cell">
            <div class="middle-align-block">
            <p class="small">Maria Montessori</p> 
            <blockquote class="col-md-6 col-md-offset-3 text-block">
              «Utvikling tar form av en<br> drivkraft mot<br> en gradvis voksende<br> uavhengighet.<br>
              Det er som en pil som blir<br> sluppet fra buen, som flyr rett,<br> raskt og sikkert.»
            </blockquote>
            </div>
          </div>
      </div>
      <%= image_tag('farget-trad-web.jpg', :class => "jarallax-img", :alt => "") %>
    </div>

    <div style="height: 90px" class=""></div>

    <div class="demo-gap" id="informasjon">
      <div class="container">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-block">
              <h2>SLIK SØKER DU PLASS</h2>
              <p>
                For å få barnehageplass i en av våre barnehager må det søkes gjennom hovedopptaket for barnehager i din kommune. 
                Kom på besøk til oss før du søker!
              </p>
              <a href="https://www.molde.kommune.no/barnehageplass.263249.38t3b10f.tct.html" target="_blank" class="btn btn-md btn-blue">LES MER</a>
            </div>   
          </div>
        </div>
      </div>
    </div>

    <div style="height: 90px" class=""></div>

    <div class="row demo-gap">
      <div class="col-md-12">
        <div class="row">

          <div class="img-container col-md-8 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('ro-web.jpg', :class => "") %></div>
          <div class="top-right"><h2 class="Index-gallery-item-content-heading">Ro</h2></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('selvstendighet-web.jpg', :class => "") %></div>
            <div class="top-right"><h2 class="Index-gallery-item-content-heading">Selvstendighet</h2></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('kunnskap-web.jpg', :class => "") %></div>
            <div class="top-right"><h2 class="Index-gallery-item-content-heading">Kunnskap</h2></div>
          </div>
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('kreativitet-web.jpg', :class => "") %></div>
            <div class="top-right"><h2 class="Index-gallery-item-content-heading">Kreativitet</h2></div>
          </div>
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('samspill-web.jpg', :class => "") %></div>
            <div class="top-right"><h2 class="Index-gallery-item-content-heading">Samspill</h2></div>
          </div>
                                 
        </div>
      </div>
    </div>      
  

    <section class="section-nopadding">
      <div id="map" style="height: 150px" class=""></div>
    </section>