    <div class="jarallax">

       
        <%= image_tag('image-1-web.jpg', :class => "jarallax-img") %>

    </div>

    <section class="section text-center margin-top margin-bottom">
      <style type="text/css">
        span:nth-child(1){color:#ca5d7a;} 
        span:nth-child(2){color:#ca596c;} 
        span:nth-child(3){color:transparent;} 
        span:nth-child(4){color:#c94f60;} 
        span:nth-child(5){color:#ce5361;} 
        span:nth-child(6){color:#cd545c;} 
        span:nth-child(7){color:#cd524b;} 
        span:nth-child(8){color:#transparent;} 
        span:nth-child(9){color:#cc673d;} 
        span:nth-child(10){color:#d18b39;} 
        span:nth-child(11){color:#d79f32;} 
        span:nth-child(12){color:#transparent;} 
        span:nth-child(13){color:#d2ac2f;} 
        span:nth-child(14){color:#d5b523;}
        span:nth-child(15){color:#9ca43f;}
        span:nth-child(16){color:#6c9c61;}
        span:nth-child(17){color:#448e7d;} 
        span:nth-child(18){color:#transparent;} 
        span:nth-child(19){color:#2388c7;} 
        span:nth-child(20){color:#3c70b1;} 
        span:nth-child(21){color:#transparent;}
        span:nth-child(22){color:#2d60a8;} 
        span:nth-child(23){color:#5e7aaf;} 
        span:nth-child(24){color:#576aac;} 
        span:nth-child(25){color:#576aac;} 
        span:nth-child(26){color:#9878a3;}  
      </style>
      <div class="container">  
          <h2 class="text-rainbow"><span>E</span><span>N</span><span>&nbsp;</span><span>O</span><span>A</span><span>S</span><span>E</span><span>&nbsp;</span><span>F</span><span>O</span><span>R</span><span>&nbsp;</span><span>G</span><span>L</span><span>E</span><span>D</span><span>E</span><span>&nbsp;</span><span>O</span><span>G</span><span>&nbsp;</span><span>V</span><span>E</span><span>K</span><span>S</span><span>T</span></h2>
       
      </div>
    </section>

      <div class="container">
     
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="team-single-member"> 
                <%= image_tag('barnehagen-1-web.jpg', :class => "", :alt => "barnehagen") %>

                <div class="team-single-member-details margin-top">
                  <h2><%= @article1.title %></h2>
                  <p class="margin-top"><%= @article1.summary %></p>
                  <a href="/barnehage" class="btn btn-md btn-outline-black margin-top">LES MER</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="team-single-member">
                <%= image_tag('barnehagen-2-web.jpg', :class => "", :alt => "barnehagen") %>
                <div class="team-single-member-details margin-top">
                    <h2><%= @article2.title %></h2>
                  <p class="margin-top"><%= @article2.summary %></p>
                  <a href="/ommontessori" class="btn btn-md btn-outline-black margin-top">LES MER</a>
                </div>
              </div>
            </div>
          </div>
       
      </div>
   




    <div class="row demo-gap">
      <div class="col-md-12">
        <div class="row">

          <div class="img-container col-md-8 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('ro-web.jpg', :class => "") %></div>
          <div class="top-right"><h2 class="Index-gallery-item-content-heading">Ro</h2></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('selvstendighet-web.jpg', :class => "") %></div>
            <div class="top-right"><h2 class="Index-gallery-item-content-heading">Selvstendighet</h2></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('kunnskap-web.jpg', :class => "") %></div>
            <div class="top-right"><h2 class="Index-gallery-item-content-heading">Kunnskap</h2></div>
          </div>
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('kreativitet-web.jpg', :class => "") %></div>
            <div class="top-right"><h2 class="Index-gallery-item-content-heading">Kreativitet</h2></div>
          </div>
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('samspill-web.jpg', :class => "") %></div>
            <div class="top-right"><h2 class="Index-gallery-item-content-heading">Samspill</h2></div>
          </div>
                                 
        </div>
      </div>
    </div>      
    <section>
    <div class=" jarallax jarallax-page">  
      <div class="jarallax-table">
          <div class="jarallax-table-cell">
            <div class="col-md-6 col-md-offset-3 text-block">
            <h2>«HJELPE MEG TIL Å HJELPE MEG SELV»</h2>
             <p class="small-title">- Maria Montessori -</p> 
            </div>
          </div>
      </div>
      <%= image_tag('hjelpe-meg-selv-web.jpg', :class => "jarallax-img", :alt => "") %>
    </div>
  </section>
    <section class="section-nopadding">
      <div id="map" style="height: 150px" class=""></div>
    </section>