    <div class="jarallax">

       
        <%= image_tag('image-1.jpg', :class => "jarallax-img") %>

    </div>

    <section class="section text-center margin-top margin-bottom">
      <div class="container">
       
          <h2 class="text-align-center">EN OASE FOR GLEDE OG VEKST</h2>
       
      </div>
    </section>

    <div class="demo-content">

        <div class="container">

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="team-single-member"> <%= image_tag('barnehagen-1.jpg', :class => "", :alt => "barnehagen") %>

                  <div class="team-single-member-details margin-top">
                      <h1>BARNEHAGEN VÅR</h1>
                    <p class="margin-top">This Text Block is great for championing your mission or idea. Get visitors to click on the Button Block below by introducing yourself and talking about what you do and why. Explain how you got started and what sets your idea apart. Learn more about blocks here. Be sure to edit the button’s URL so it links to a page on your site.</p>
                     <a href="#" class="btn btn-md btn-outline-black margin-top">LES MER</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="team-single-member">
                  <%= image_tag('barnehagen-2.jpg', :class => "", :alt => "barnehagen") %>
                  <div class="team-single-member-details margin-top">
                      <h1>OM MONTESSORI</h1>
                    <p class="margin-top">This Text Block is great for championing your mission or idea. Get visitors to click on the Button Block below by introducing yourself and talking about what you do and why. Explain how you got started and what sets your idea apart. Learn more about blocks here. Be sure to edit the button’s URL so it links to a page on your site.</p>
                    <a href="#" class="btn btn-md btn-outline-black margin-top">LES MER</a>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

    <div class="demo-content" style="margin:60px 0">

        <div class="container">

          <div class="">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h2>BARNEHAGEN VÅR</h2>
                <p>Barnehagen består av fire avdelinger. Småbarnsavdelingene Delfinen og Marihøna med tilsammen 28 plasser i alderen 0-3 år. Svanen og Elefanten med tilsammen 53 plasser for barn i alderen 3 - 6 år. Alle avdelingene har sin egen inngang og garderobe samt eget kjøkken.</p>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="image">
                  <%= image_tag('dukkeverksted.jpg', :class => "small-screen-margin-top", :alt => "dukkeverksted") %>
                </div>
              </div>
            </div>
          </div>

        </div>

       <div class="container">


        </div>


    </div>


    <div class="jarallax">      
      <%= image_tag('IMG_9883.jpg', :class => "jarallax-img", :alt => "") %>
    </div>

      <div class="demo-gap" id="informasjon">
        <div class="container">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-block">
            <h1>Om Montessori</h1>
            <p>
              This is the perfect place for generating visitor interest by going into more detail about yourself, your project, or your mission. You can talk about how your idea started, how long you’ve been working on it, what it stands for, and why it’s important. The more specific you are, the more visitors can engage with what you do. This is also an opportunity to answer any questions they may have about you or your work.
            </p>
            <p>
              Foster’s long, scrolling homepage is actually an Index Page, which stacks multiple pages vertically. Under a Foster Index Page, any regular Page with a background image supports parallax scrolling, a 3D effect that creates depth and immersion. Learn more about Foster’s Index Page here.
            </p>
              The Foster template supports three separate navigation areas: two in the site header section and one in the footer section. All navigation areas can be styled independently. For example, to give prominence to certain pages in your site, you can include them in the header navigation. Other pages with secondary importance can go in the footer. You can create drop-down menus by placing pages in a folder in the Pages Panel. Learn more about Foster’s navigation features here.
            <p>
              With any Squarespace template, you can use Spacer Blocks to tailor the layout of your pages. For more information on blocks, click here. The following is placeholder text known as "lorem ipsum" which is scrambled Latin used by designers to mimic real copy. Lorem ipsum dolor sit amet…
            </p>

            <blockquote class="block-quote">
              <span>“</span>
              To aid life, leaving it free, however, to unfold itself, that is the basic task of the educator.<br>
              <span>”</span>
            </blockquote>

            <figcaption class="source">— Maria Montessori</figcaption>
            <div class="img-gap">
               <div class="image"><%= image_tag('maria-montessori.png', :class => "", :alt => "Maria Montessori") %></div>
            </div>
              
            </div>
            </div>
          </div>
        </div>
      </div>

   
      <div class="demo-gap">
        <div class="col-md-12">
          <div class="row">


            <div class="gall">


              <div class="img-container">
                <div class="image"><%= image_tag('ro.jpg', :class => "") %></div>
              <div class="top-right"><h2 class="Index-gallery-item-content-heading">Ro</h2></div>
              </div>
              <div class="img-container">
                <div class="image"><%= image_tag('selvstendighet.jpg', :class => "") %></div>
                <div class="top-right"><h2 class="Index-gallery-item-content-heading">Selvstendighet</h2></div>
              </div>
              <div class="img-container">
                <div class="image"><%= image_tag('kunnskap.jpg', :class => "") %></div>
                <div class="top-right"><h2 class="Index-gallery-item-content-heading">Kunnskap</h2></div>
              </div>
              <div class="img-container">
                <div class="image"><%= image_tag('kreativitet.jpg', :class => "") %></div>
                <div class="top-right"><h2 class="Index-gallery-item-content-heading">Kreativitet</h2></div>
              </div>
              <div class="img-container">
                <div class="image"><%= image_tag('samspill.jpg', :class => "") %></div>
                <div class="top-right"><h2 class="Index-gallery-item-content-heading">Samspill</h2></div>
              </div>
                           
            </div>
        
          </div>
        </div>
      </div>      
   
 

 
 
    <section id="minside" class="section  text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 login-section"><span></span>
            <div class="login-content">
              <h2>FORELDRE MED BARN I BARNEHAGEN KAN LOGGE INN HER.</h2>
              <p>Brukernavn og passord ble utdelt ved oppstart.</p>
              <p></p>
              <form class="login-form"> 
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <input id="" name="email" type="email" placeholder="Epost" required="required"/>
                  </div> 
                </div>                 
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <input id="" name="email" type="email" placeholder="Passord" required="required"/>
                  </div>      
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="Logg inn" class="contact-form-submit btn btn-blue"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-nopadding">
      <div id="map" style="height: 500px" class=""></div>
    </section>