   <section id="section-<%= artic.id %>">
    <div class="row demo-gap">
      <div class="col-md-12">
        <div class="row">
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('avd-elefanten-web.jpg', :class => "") %></div>
          </div>
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('treding-web.jpg', :class => "") %></div>
          </div>
        </div>
        <div class="row">
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('jente-med-perler-2-web.jpg', :class => "") %></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('jente-med-gardin-web.jpg', :class => "") %></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('jente-med-forstorrelsesglass-web.jpg', :class => "") %></div>
          </div>                                                  
        </div>
      </div>
    </div>
  </section>