  <section id="section-<%= artic.id %>">
    <div class="row demo-gap">
      <div class="col-md-12">
        <div class="row">
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('to-gutter-disser-web.jpg', :class => "image-fit") %></div>
          </div>


          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('svanen-web.jpg', :class => "image-fit") %></div>
          </div>   
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="image"><%= image_tag('gutt-og-dukkehus-web.jpg', :class => "image-fit") %></div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="image"><%= image_tag('jente-med-klosser-web.jpg', :class => "image-fit") %></div>
              </div>
            </div>  
          </div>
 


          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('i-sklia-web.jpg', :class => "image-fit") %></div>
          </div>                                                                
        </div>
      </div>
    </div>
  </section>
