    <% @arry = (["15-web.jpg", "17-web.jpg","img_1318-web.jpg","img_4825-web.jpg","img_4828-web.jpg","ro-web.jpg","selvstendighet-web.jpg","kunnskap-web.jpg","kreativitet-web.jpg","samspill-web.jpg"]).to_a.shuffle.take(5) %>

    <style type="text/css">
      .img-container:nth-child(3){
        max-height:279px;
        overflow:hidden;
      }

    </style>
    <div class="row demo-gap">
      <div class="col-md-12">
        <div class="row">
          <div class="img-container col-md-8 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag(@arry[0], :class => "") %></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag(@arry[1], :class => "") %></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag(@arry[2], :class => "") %></div>
          </div>
        </div>
        <div class="row">
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag(@arry[3], :class => "") %></div>            
          </div>
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag(@arry[4], :class => "") %></div>
          </div>
        </div>
      </div>
    </div>      