   <section id="section-<%= artic.id %>">
    <div class="row demo-gap">
      <div class="col-md-12">
        <div class="row">
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('store-barn-1-web.jpg', :class => "") %></div>
          </div>
          <div class="img-container col-md-6 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('i-sklia-web.jpg', :class => "") %></div>
          </div>
        </div>
        <div class="row">
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('store-barn-jente-maler-web.jpg', :class => "") %></div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('lese-kroken-web.jpg', :class => "") %></div>
          </div>          
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('store-barn-bobler-web.jpg', :class => "") %></div>
          </div>                                                  
        </div>
      </div>
    </div>
  </section>