  <section id="section-<%= artic.id %>">
    <div class="row demo-gap">
      <div class="col-md-12">
        <div class="row">
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('dukker-web.jpg', :class => "") %></div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="row">
              <div class="img-container col-md-12 col-sm-12 col-xs-12">
                <div class="image"><%= image_tag('gapahuk-web.jpg', :class => "") %></div>
              </div>
              <div class="img-container col-md-12 col-sm-12 col-xs-12" style="margin-top:-5px;">
                <div class="image"><%= image_tag('elefanten-web.jpg', :class => "") %></div>
              </div>
            </div>
          </div>
          <div class="img-container col-md-4 col-sm-12 col-xs-12">
            <div class="image"><%= image_tag('lekestativ-1-web.jpg', :class => "") %></div>
          </div>
        </div>
        <div class="row">
          <div class="img-container col-md-6 col-sm-12 col-xs-12" style="margin-top:-5px;">
            <div class="image"><%= image_tag('aro-hage-web.jpg', :class => "") %></div>
          </div>
          <div class="img-container col-md-6 col-sm-12 col-xs-12" style="margin-top:-5px;">
            <div class="image"><%= image_tag('svane-skulptur-web.jpg', :class => "") %></div>
          </div>                  
        </div>
      </div>
    </div>
  </section>