<section id="section-<%= artic.id %>" style="margin:60px 0;">	
	<div class="jarallax jarallax-avd">        
	    <div class="demo-table">
	        <div class="demo-table-cell">
	            <h2 style="color:<%= artic.titlecolor %>;"><%= artic.title %></h2>
	            <h3 style="color:<%= artic.titlecolor %>;">
	            	 <%= artic.summary.html_safe %>
	            </h3>

	        </div>
	    </div>
	    <div>
	    	<%= image_tag(artic.image, :class => "jarallax-img") %>
	    </div>
	</div>
</section>