
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Krohnstad Montessori</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">   
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'front', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'front', 'data-turbolinks-track' => true %>
  </head>
  <body>
  <% if flash[:notice] %>
  <div class="alert alert-success alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <%= flash[:notice] %>      
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <%= flash[:alert] %>
  </div>
  <% end %>
 
  <%= render 'nav' %>
 
  <div class="go-top">
   <i class="fa fa-angle-up"></i>
  </div>

  <%= yield %>

  <footer class="footer-light">
    <div class="text-center container">
      <div class="row">
        <div class="col-md-12">
          <h2>KROHNSTAD</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="footer-message">OPPHAVSRETT © 2018 KROHNSTAD MONTESSORI AS</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </footer>
    
  <script type="text/javascript">
      objectFitImages();
      jarallax(document.querySelectorAll('.jarallax'));
      jarallax(document.querySelectorAll('.jarallax-keep-img'), {
          keepImg: true,
      });
  </script>
<script>
  $(document).ready(function () {
   $('#nav-icon3').click(function () {
    $(this).toggleClass('open');
   });
  });
</script>
  </body>
</html>