 
    <section id="kontakt">
      <div id="map" style="width:100%;height:500px;"></div>
      <div class="container">
        
   
        <div style="height: 80px" class=""></div>
       
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="team-single-member"> 


                <div class="team-single-member-details margin-top">
                  <h2>Eier</h2>
                  <p class="margin-top">
                    <p>Edith Krohnstad Marleau</p>

                    <p>Telefon: 71 21 86 92</p>

                    <p>E-post: edith@krohnstad.no</p>
                  </p>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="team-single-member">
               
                <div class="team-single-member-details margin-top">
                    <h2>Dokumenter</h2>
                  <p class="margin-top">
                      <p><a href="#">Vedtekter</a></p>
                      <p><a href="#">Årsplan 2018-2019</a></p>
                  </p>
               
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div style="height: 100px" class=""></div>
      
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API'] %>
&callback=initMap" async defer>
  </script>
  <script type="text/javascript">

      function initMap() {
        var krohnstad = {lat: 62.781133, lng: 7.305240};

        // Create a map object and specify the DOM element
        // for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: krohnstad,
          zoom: 11
        });

        <% @school.each do |school| %>
          var infowindow<%= school.id %> = new google.maps.InfoWindow({
            content: '<h3><%= school.name %></h3><%= school.description.html_safe %>'
          });

        // Create a marker and set its position.
          var marker<%= school.id %> = new google.maps.Marker({
            map: map,
            position: {lat:<%= school.lat %>, lng:<%= school.lng %>},
            title: '<%= school.name %>',
            icon: {
              url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png",
              labelOrigin: new google.maps.Point(20, 38),
              size: new google.maps.Size(32,32),
              anchor: new google.maps.Point(16,32)
            },
            label: {
              text: "<%= school.name %>"
            }

          });
          marker<%= school.id %>.addListener('click', function() {
            infowindow<%= school.id %>.open(map, marker<%= school.id %>);
          });   
        <% end %>     
      }

  </script>